<div class="adminpage-container">
  <div class="form-container">
    <h1 class="form-header">Create Product</h1>

    <form (ngSubmit)="createProduct()">
      <!-- Product Name Field -->
      <div class="form-group">
        <label for="pname">Product Name</label>
        <input id="pname" class="form-control" [(ngModel)]="product.pname" name="pname" required />
        <span *ngIf="productnameError" class="text-danger">{{ productnameError }}</span>
      </div>

      <!-- Price Field -->
      <div class="form-group">
        <label for="price">Price</label>
        <input id="price" class="form-control" [(ngModel)]="product.price" name="price" required />
        <span *ngIf="productpriceError" class="text-danger">{{ productpriceError }}</span>
      </div>

      <!-- Quantity Field -->
      <div class="form-group">
        <label for="stock">Stock Quantity</label>
        <input id="stock" class="form-control" [(ngModel)]="product.stock" name="stock" required />
        <span *ngIf="productquantityError" class="text-danger">{{ productquantityError }}</span>
      </div>


      <!-- Buttons -->
      <div class="button-group">
        <button type="submit" class="btn btn-primary">Create</button>
        <a class="btn btn-outline-primary" routerLink="/adminpage">Cancel</a>
      </div>
    </form>

    <!-- Success Message -->
    <div *ngIf="successMessage" class="alert alert-success">
      {{ successMessage }}
    </div>

    <!-- Error Message -->
    <div *ngIf="errorMessage">
      <div class="error">{{ errorMessage }}</div>
    </div>
  </div>
</div>
