.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 88vh;
  max-height: 88vh;
  gap: 1em;
  background-color: #b6ebfc;
  overflow-y: auto;
}

.container h1 {
  font-size: 2em;
  font-weight: bold;
  color: #3e4684;
  text-align: center;
}

section {
  width: 70%;
  margin: 5px 0;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
}

@media screen and (max-width: 600px) {
  .container {
    max-height: 100vh;
    height: 100vh;
  }
}