<div class="container">
  <h1>{{ 'dashboard.title' | translate }}</h1>

  <section>
    <h2>{{ 'dashboard.adminTitle' | translate }}</h2>
    <p>{{ 'dashboard.adminBody' | translate }}</p>
  </section>

  <section>
    <h2>{{ 'dashboard.shopTitle' | translate }}</h2>
    <p>{{ 'dashboard.shopBody' | translate }}</p>
  </section>

  <section>
    <h2>{{ 'dashboard.orderTitle' | translate }}</h2>
    <p>{{ 'dashboard.orderBody' | translate }}</p>
  </section>

  <section>
    <h2>{{ 'dashboard.chatTitle' | translate }}</h2>
    <p>{{ 'dashboard.chatBody' | translate }}</p>
  </section>

  <section>
    <h2>{{ 'dashboard.spotifyTitle' | translate }}</h2>
    <p>{{ 'dashboard.spotifyBody' | translate }}</p>
  </section>

  <section>
    <h2>{{ 'dashboard.feedbackTitle' | translate }}</h2>
    <p>{{ 'dashboard.feedbackBody' | translate }}</p>
  </section>

</div>
