@if (isAuthenticated) {
  <nav class="navbar">
    <img src="/favicon.ico" alt="DevHub Logo" class="logo">
    <ul class="navbar-links">
      <li><a routerLink="/dashboard" (click)="onLinkClick($event)">{{ 'nav.dashboard' | translate }}</a></li>
      <li><a routerLink="/admin" (click)="onLinkClick($event)">{{ 'nav.admin' | translate }}</a></li>
      <li><a routerLink="/shop" (click)="onLinkClick($event)">{{ 'nav.shop' | translate }}</a></li>
      <li><a routerLink="/order-history" (click)="onLinkClick($event)">{{ 'nav.orderHistory' | translate }}</a></li>
      <li><a routerLink="/cinema" (click)="onLinkClick($event)">{{ 'nav.cinema' | translate }}</a></li>
      <li><a routerLink="/rubiks-cube" (click)="onLinkClick($event)">{{ 'nav.rubiks' | translate }}</a></li>
      <li><a routerLink="/chat" (click)="onLinkClick($event)">{{ 'nav.chat' | translate }}</a></li>
      <li><a routerLink="/spotify" (click)="onLinkClick($event)">{{ 'nav.spotify' | translate }}</a></li>
      <li><a routerLink="/feedback" (click)="onLinkClick($event)">{{ 'nav.feedback' | translate }}</a></li>
    </ul>
    <app-language-toggle class="navbar-lang"></app-language-toggle>
  </nav>
}

@if (!isAuthenticated) {
  <nav class="navbar">
    <img src="/favicon.ico" alt="DevHub Logo" class="logo">
    <ul class="navbar-links">
      <li><a routerLink="/login">{{ 'nav.login' | translate }}</a></li>
    </ul>
    <app-language-toggle class="navbar-lang"></app-language-toggle>
  </nav>
}
