.navbar {
  top: 0;
  background-color: #3e4684;
  height: 6vh;
  padding: 0 20px;
  align-items: center;
  box-sizing: border-box;
  display: flex;
}

.navbar-links {
  align-items: center;
  list-style: none;
  display: flex;
  margin: 0;
  /* padding: 5px; */
  gap: 15px;
}

.navbar-links li {
  margin: 0 15px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.logout-button {
  display: none;
}

.logout-button {
  margin-left: auto;
  text-decoration: none;
  color: white;
  font-weight: 500;
  padding: 0.8em 1.2em;
  font-size: 1em;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  background-color: #c23535;
  border: none;
  transition: background-color 0.3s ease;
}

.navbar-links a:hover,
.logout-button:hover {
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px 10px;
  }

  .navbar-links {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    align-items: flex-start;
  }

  .navbar-links a {
    width: 100%;
    text-align: left;
  }

  .logout-button {
    display: block;
    margin-top: auto;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    text-align: center;
  }
}

.logo {
  height: 5vh;
  width: 5vh;
  border-radius: 50%;
  object-fit: cover;
}