.navbar {
  top: 0;
  background-color: #3e4684;
  padding: 10px 20px;
  height: 5%;
  /* box-sizing: border-box; */
}

.navbar-links {
  align-items: center;
  list-style: none;
  display: flex;
  margin: 0;
  padding: 5px;
  gap: 15px;
}

.navbar-links li {
  margin: 0 15px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.navbar-links a:hover,
.logout-button:hover {
  text-decoration: underline;
}

.logout-button {
  margin-left: auto;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

@media screen and (max-width: 600px) {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px 10px;
  }

  .navbar-links {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    align-items: flex-start;
  }

  .navbar-links a {
    width: 100%;
    text-align: left;
  }

  .logout-button {
    margin-top: auto;
    padding: 10px 20px;
    width: 100%;
    text-align: left;
  }
}