<nav *ngIf="isAuthenticated" class="navbar">
  <ul class="navbar-links">
    <li><a routerLink="/dashboard" (click)="onLinkClick($event)">Dashboard</a></li>
    <li><a routerLink="/firstpage" (click)="onLinkClick($event)">First Page</a></li>
    <li><a routerLink="/secondpage" (click)="onLinkClick($event)">Second Page</a></li>
    <li><a class="logout-button" routerLink="/" (click)="LogOut()">LogOut</a></li>
  </ul>

</nav>

<nav *ngIf="!isAuthenticated" class="navbar">
  <ul class="navbar-links">
    <li><a routerLink="/login">Login</a></li>
  </ul>
</nav>
