.navbar {
  top: 0;
  background-color: #3e4684;
  padding: 10px 20px;
  z-index: 1000;
  align-items: center;

  display: flex; /* Flexbox for layout */
  justify-content: space-between; /* Space between links and the logout button */

}

.navbar-links {
  display: flex;
  display: grid;
  align-items: center;

  list-style: none;
  display: flex;
  margin: 0;
  padding: 8px;
}

.navbar-links li {
  margin: 0 15px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.navbar-links a:hover {
  text-decoration: underline;
}

.logout-button {
  margin-left: auto;
  text-decoration: none;
  color: white;
}