<nav class="navbar">
    <ul class="navbar-links">
        <li><a routerLink="/login" (click)="onLinkClick($event)">Login</a></li>
        <li><a routerLink="/dashboard" (click)="onLinkClick($event)">Dashboard</a></li>
        <li><a routerLink="/firstpage" (click)="onLinkClick($event)">First Page</a></li>
        <li><a routerLink="/secondpage" (click)="onLinkClick($event)">Second Page</a></li>
        <li><a routerLink="/" (click)="onLinkClick($event)">not working yet</a></li>
        <li><a routerLink="/" (click)="onLinkClick($event)">not working yet</a></li>
    </ul>
    <div class="navbar-actions">
        <!-- Add login/logout buttons or user-related actions here -->
    </div>
</nav>