<div class="firstpage-container">
  <div class="form-container">
    <h1 class="form-header">Update Product</h1>

    <form (ngSubmit)="updateProduct()">
      <!-- Product ID Field -->
      <div class="form-group">
        <label for="pid">Product ID</label>
        <input id="pid" class="form-control" readonly [(ngModel)]="product.pid" name="pid" />
      </div>

      <!-- Productname Field -->
      <div class="form-group">
        <label for="p_name">Productname</label>
        <input id="p_name" class="form-control" [(ngModel)]="product.p_name" name="p_name" required />
        <span *ngIf="productnameError" class="text-danger">{{ productnameError }}</span>
      </div>

      <!-- description Field -->
      <div class="form-group">
        <label for="description">description</label>
        <input id="description" class="form-control" [(ngModel)]="product.description" name="description"/>
      </div>

           <!-- price Field -->
           <div class="form-group">
            <label for="price">price</label>
            <input id="price" class="form-control" [(ngModel)]="product.price" name="price" required />
            <span *ngIf="productpriceError" class="text-danger">{{ productpriceError }}</span>
          </div>

               <!-- stock quantity Field -->
      <div class="form-group">
        <label for="stock">stock quantity</label>
        <input id="stock" class="form-control" [(ngModel)]="product.stock" name="stock" required />
        <span *ngIf="productquantityError" class="text-danger">{{ productquantityError }}</span>
      </div>

      <!-- Buttons -->
      <div class="button-group">
        <button type="submit" class="btn btn-primary">Update</button>
        <a class="btn btn-outline-primary" routerLink="/firstpage">Cancel</a>
      </div>
    </form>

    <!-- Success Message -->
    <div *ngIf="successMessage">
      {{ successMessage }}
    </div>

    <!-- Error Message -->
    <div *ngIf="errorMessage">
      <div class="error">{{ errorMessage }}</div>
    </div>

  </div>
</div>
