body {
  overflow: visible !important;
}

body.home-page {
  overflow: auto !important;
  /* Αλλάζουμε το overflow όταν η κλάση είναι ενεργή */
  overflow: visible !important;
  /* Αλλάζουμε το overflow όταν η κλάση είναι ενεργή */
}

/* Στο styles.css ή styles.scss */
:root {
  overflow: auto;  /* Προεπιλεγμένο overflow για όλη την εφαρμογή */
}

body {
  margin: 0;
  overflow: var(--body-overflow);  /* Χρησιμοποιούμε τη μεταβλητή για το overflow */
}
/* Στο home.component.css */
:host {
  overflow: auto;  /* Αλλάζουμε την τιμή της μεταβλητής μόνο για αυτό το component */
}
/* Στο about.component.css */
:host {
  overflow: auto;  /* Επαναφορά του overflow στο auto */
}
/* Στο styles.css ή στο αρχείο του component */
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  overflow: auto;
}

main {
  flex: 1;
  overflow: auto;  /* Επιτρέπει το scroll μόνο στο κύριο περιεχόμενο */
}
/* Στο styles.css ή στο αρχείο του navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #3e4684;
}
