<nav class="container">

  <h1>Joined Tables List</h1>

  <label for="clientSelect">Choose a client:</label>
  <select id="clientSelect">
    <option *ngFor="let name of clientNames" [value]="name">{{ name }}</option>
  </select>

  <table class="table">

    <thead>
      <tr>
        <th>Order ID</th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total Price</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let user of users">
      </tr>
    </tbody>
  </table>

</nav>