<nav class="container">
  <!-- ******************* OLA TA LINK 8ELOUN DIORTHOSI -->

  <h1>Product List</h1>
  <a class="btn btn-primary" routerLink="/thirdpage/create-product">New Product</a>
  <table class="table">
    <thead>
      <tr>
        <th>product id</th>
        <th>product Name</th>
        <th>description</th>
        <th>price</th>
        <th>stock</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product  of products">
        <td>{{ product.p_id }}</td>
        <td>{{ product.p_name }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.stock_quantity }}</td>
        <td>
          <a class="btn btn-primary btn-sm" [routerLink]="['/thirdpage/update-product', product.c_id]">Update</a>
          <a class="btn btn-danger btn-sm" (click)="deleteProduct(product.c_id)">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>



  <h1>Order List</h1>
  <a class="btn btn-primary" routerLink="/thirdpage/create-order">New Order</a>
  <table class="table">
    <thead>
      <tr>
        <th>order id</th>
        <th>customer id</th>
        <th>order date</th>
        <th>total ammount</th>
        <th>status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td>{{ order.o_id }}</td>
        <td>{{ order.c_id }}</td>
        <td>{{ order.o_date }}</td>
        <td>{{ order.total_amount }}</td>
        <td>{{ order.status }}</td>
        <td>
          <a class="btn btn-primary btn-sm" [routerLink]="['/thirdpage/update-order', order.c_id]">Update</a>
          <a class="btn btn-danger btn-sm" (click)="deleteOrder(order.c_id)">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>



  <h1>OrderDetails List</h1>
  <a class="btn btn-primary" routerLink="/thirdpage/create-orderdetail">New OrderDetails</a>
  <table class="table">
    <thead>
      <tr>
        <th>o_details_id </th>
        <th>o id </th>
        <th>o id </th>
        <th>quantity </th>
        <th>price </th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let orderdetail of orderdetails">
        <td>{{ orderdetail.o_details_id }}</td>
        <td>{{ orderdetail.o_id }}</td>
        <td>{{ orderdetail.p_id }}</td>
        <td>{{ orderdetail.quantity }}</td>
        <td>{{ orderdetail.price }}</td>
        <td>
          <a class="btn btn-primary btn-sm"
            [routerLink]="['/thirdpage/update-orderdetail', orderdetail.c_id]">Update</a>
          <a class="btn btn-danger btn-sm" (click)="deleteOrderDetail(orderdetail.c_id)">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
</nav>
