<div class="adminpage-container">
    <div class="form-container">
        <h1 class="form-header">{{ mode === 'create' ? 'Create Order' : 'Update Order' }}</h1>

        <form (ngSubmit)="onSubmit()">
            <div class="form-group" *ngIf="mode === 'edit'">
                <label for="uid">Order ID</label>
                <input id="uid" class="form-control" [(ngModel)]="order.oid" name="oid" readonly />
            </div>

            <!-- uid Field -->
            <div class="form-group">
                <label for="uid">uid</label>
                <input id="uid" class="form-control" [(ngModel)]="order.uid" name="uid" required />
                <span *ngIf="orderuidError" class="text-danger">{{ orderuidError }}</span>
            </div>

            <!-- date Field -->
            <div class="form-group">
                <label for="date">date</label>
                <input id="date" class="form-control" [(ngModel)]="order.date" name="date" required />
                <span *ngIf="orderdateError" class="text-danger">{{ orderdateError }}</span>
            </div>


            <div class="button-group">
                <button type="submit" class="btn btn-primary">
                    {{ mode === 'create' ? 'Create' : 'Update' }}
                </button>
                <a class="btn btn-outline-primary" routerLink="/adminpage">Cancel</a>
            </div>
        </form>

        <div *ngIf="successMessage" class="alert alert-success">
            {{ successMessage }}
        </div>

        <div *ngIf="errorMessage" class="alert alert-danger">
            {{ errorMessage }}
        </div>
    </div>
</div>