<nav class="container">

  <div class="header-actions">
    <h1>Users List</h1>
    <div class="actions">
      <button class="btn btn-secondary" (click)="getUsers()">Load Users</button>
      <a class="btn btn-primary" [routerLink]="['/entity-form', 'user']">New User</a>
    </div>
  </div>

  @if (users.length > 0) {
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Password</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        @for (user of users; track user) {
          <tr>
            <td>{{ user.uid }}</td>
            <td>{{ user.uname }}</td>
            <td>{{ user.upass }}</td>
            <td>
              <a class="btn btn-primary btn-sm" [routerLink]="['/entity-form', 'user', user.uid]">Update</a>
              <a class="btn btn-danger btn-sm" (click)="deleteUser(user.uid)">Delete</a>
            </td>
          </tr>
        }
      </tbody>
    </table>
  }

  <div class="header-actions">
    <h1>Products List</h1>
    <div class="actions">
      <button class="btn btn-secondary" (click)="getProducts()">Load Products</button>
      <a class="btn btn-primary" [routerLink]="['/entity-form', 'product']">New Product</a>
    </div>
  </div>

  @if (products.length > 0) {
    <table class="table">
      <thead>
        <tr>
          <th>product id</th>
          <th>product Name</th>
          <th>price</th>
          <th>stock</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        @for (product  of products; track product ) {
          <tr>
            <td>{{ product.pid }}</td>
            <td>{{ product.pname }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.stock }}</td>
            <td>
              <a class="btn btn-primary btn-sm" [routerLink]="['/entity-form', 'product', product.pid]">Update</a>
              <a class="btn btn-danger btn-sm" (click)="deleteProduct(product.pid)">Delete</a>
            </td>
          </tr>
        }
      </tbody>
    </table>
  }


  <div class="header-actions">
    <h1>Orders List</h1>
    <div class="actions">
      <button class="btn btn-secondary" (click)="getOrders()">Load Orders</button>
      <a class="btn btn-primary" [routerLink]="['/entity-form', 'order']">Create Order</a>
    </div>
  </div>

  @if (orders.length > 0) {
    <table class="table">
      <thead>
        <tr>
          <th>Order ID</th>
          <th>User ID</th>
          <th>Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (order of orders; track order) {
          <tr>
            <td>{{ order.oid }}</td>
            <td>{{ order.uid }}</td>
            <td>{{ order.date }}</td>
            <td>
              <a class="btn btn-primary btn-sm" [routerLink]="['/entity-form', 'order', order.oid]">Edit</a>
              <a class="btn btn-danger btn-sm" (click)="deleteOrder(order.oid)">Delete</a>
            </td>
          </tr>
        }
      </tbody>
    </table>
  }

  <div class="header-actions">
    <h1>OrdersDetails List</h1>
    <div class="actions">
      <button class="btn btn-secondary" (click)="getOrderDetails()">Load Order Details</button>
    </div>
  </div>

  @if (orderDetails.length > 0) {
    <table class="table">
      <thead>
        <tr>
          <th>Order ID</th>
          <th>Product ID</th>
          <th>Quantity</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (orderDetail of orderDetails; track orderDetail) {
          <tr>
            <td>{{ orderDetail.oid }}</td>
            <td>{{ orderDetail.pid }}</td>
            <td>{{ orderDetail.quantity }}</td>
            <td>
              <!-- <a class="btn btn-primary btn-sm" [routerLink]="['/admin/update-order', order.oid]">Update</a> -->
              <!-- <a class="btn btn-danger btn-sm" (click)="deleteOrder(order.oid)">Delete</a> -->
            </td>
          </tr>
        }
      </tbody>
    </table>
  }
</nav>
