<div class="firstpage-container">
    <div class="form-container">
      <h1 class="form-header">Update Order</h1>
  
      <form (ngSubmit)="updateOrder()">
         
        <!-- oid Field -->
          <div class="form-group">
            <label for="oid">oid</label>
            <input id="oid" class="form-control" readonly [(ngModel)]="order.oid" name="oid" required />
            <span *ngIf="orderoidError" class="text-danger">{{ orderoidError }}</span>
          </div>

        <!-- uid Field -->
        <div class="form-group">
          <label for="uid">uid</label>
          <input id="uid" class="form-control" [(ngModel)]="order.uid" name="cid" required />
          <span *ngIf="orderuidError" class="text-danger">{{ orderuidError }}</span>
        </div>
  

  
        <!-- Quantity Field -->
        <div class="form-group">
          <label for="c">quantity</label>
          <input id="quantity" class="form-control" [(ngModel)]="order.date" name="quantity" required />
        </div>
  
  
        <!-- Buttons -->
        <div class="button-group">
          <button type="submit" class="btn btn-primary">Update</button>
          <a class="btn btn-outline-primary" routerLink="/firstpage">Cancel</a>
        </div>
      </form>
  
      <!-- Success Message -->
      <div *ngIf="successMessage" class="alert alert-success">
        {{ successMessage }}
      </div>
  
      <!-- Error Message -->
      <div *ngIf="errorMessage">
        <div class="error">{{ errorMessage }}</div>
      </div>
    </div>
  </div>