<nav class="container">

  <h1>Orders History</h1>

  <label for="clientSelect">Choose a client:</label>

  <select id="clientSelect" (change)="selectClient($event)">
    <option value="" disabled selected>-- Select client --</option>
    @for (name of clientNames; track name) {
      <option [value]="name">{{ name }}</option>
    }
  </select>

  @for (order of groupedOrderDetails; track order) {
    <div class="order-block">
      <h3>Order #{{ order.orderId }} - {{ order.date }}</h3>
      <table class="table">
        <thead>
          <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total Price</th>
          </tr>
        </thead>
        <tbody>
          @for (item of order.items; track item) {
            <tr>
              <td>{{ item.product }}</td>
              <td>{{ item.quantity }}</td>
              <td>{{ item.price }}</td>
              <td>{{ item.totalPrice }}</td>
            </tr>
          }
          <tr class="total-row">
            <td colspan="3"><strong>Order Total</strong></td>
            <td><strong>{{ order.totalAmount }}</strong></td>
          </tr>
        </tbody>
      </table>
    </div>
  }

  @if (noOrders) {
    <div class="no-orders-message">
      There are currently no purchases associated <br>
      with the selected customer.
    </div>
  }

</nav>