<nav class="container">

  <h1>Orders History</h1>

  <label for="clientSelect">Choose a client:</label>

  <select id="clientSelect" (change)="selectClient($event)">
    <option *ngFor="let name of clientNames" [value]="name">{{ name }}</option>
  </select>

  <table class="table">

    <thead>
      <tr>
        <th>Order ID</th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total Price</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let order of orderDetails">
        <td>{{ order.orderId }}</td>
        <td>{{ order.product }}</td>
        <td>{{ order.quantity }}</td>
        <td>{{ order.price }}</td>
        <td>{{ order.totalPrice }}</td>
      </tr>
    </tbody>
  </table>

</nav>