<div class="container">
  <h1>{{ 'shop.title' | translate }}</h1>

  <a class="btn btn-primary" routerLink="/admin/create-product">{{ 'shop.newProduct' | translate }}</a>
  <table class="table">
    <thead>
      <tr>
        <th>{{ 'shop.colProductId' | translate }}</th>
        <th>{{ 'shop.colProductName' | translate }}</th>
        <th>{{ 'shop.colPrice' | translate }}</th>
        <th>{{ 'shop.colStock' | translate }}</th>
        <th>{{ 'common.actions' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      @for (product of products(); track product) {
        <tr>
          <td>{{ product.pid }}</td>
          <td>{{ product.pname }}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.stock }}</td>
          <td>
            <button class="btn btn-sm btn-danger" (click)="decreaseQuantity(product)">-</button>
            <input type="number" [(ngModel)]="product.quantity" (ngModelChange)="onQuantityChange(product)"
              class="mx-2 quantity-input" min="0" (keydown)="validateNumber($event)" />
              <button class="btn btn-sm btn-success" (click)="increaseQuantity(product)">+</button>
            </td>
          </tr>
        }
      </tbody>
    </table>

    <button class="btn btn-primary" (click)="buyProducts()">{{ 'shop.buy' | translate }}</button>
  </div>
