<!-- <div class="body">

    <mat-toolbar class="horizontal-toolbar">
        <mat-toolbar-row>Home Page</mat-toolbar-row>
        <mat-toolbar-row>First Page</mat-toolbar-row>
        <mat-toolbar-row>Second Page</mat-toolbar-row>
        <mat-toolbar-row>Third Page</mat-toolbar-row>
        <mat-toolbar-row>Fourth Page</mat-toolbar-row>
        <mat-toolbar-row>Fifth Page</mat-toolbar-row>
    </mat-toolbar>

    <h1>You have successfully logged in!</h1>


    <button class="logoutButton" (click)="LogOut()">Log out.</button>
</div> -->