<nav class="container">
  <h1>User List</h1>
  <a class="btn btn-primary" routerLink="/firstpage/create-user">New User</a>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Password</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.uid }}</td>
        <td>{{ user.uname }}</td>
        <td>{{ user.upass }}</td>
        <td>
          <a class="btn btn-primary btn-sm" [routerLink]="['/firstpage/update-user', user.uid]">Update</a>
          <a class="btn btn-danger btn-sm" (click)="deleteUser(user.uid)">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
</nav>
