<div class="firstpage-container">
    <!-- insert the page content here -->
    <p>
        I love pressing F5. It's so refreshing.
    </p><br/>
    <p>
        I'd tell you a joke about UDP, but you probably wouldn't get it.
    </p><br/><br/>
    <p>
        Q: Why did the web designer drown?<br/>
        A: She didn’t know if she should float:left or float:right.<br/>
        Also, she had too many anchors. 
    </p><br/><br/>
    <p>
        A TCP packet walks into a bar and says, "I'd like a beer."<br/>
        The bartender replies, "You want a beer?"<br/>
        The TCP packet replies, "Yes, I'd like a beer."
    </p><br/><br/>
    <p>
        Q: Why was the JavaScript reality show cancelled after only one episode?<br/>
        A: People thought it seemed scripted.
    </p><br/><br/>
    <p>
        There are only 10 types of people in the world: those who understand binary, and those who don't.<br/>
    </p><br/><br/>
    <p>
        Q: How many programmers does it take to change a light bulb?<br/>
        A: None, that's a hardware problem.<br/>
    </p><br/><br/>
    <p>
        A programmer's wife asks him to pick up some groceries on his way home from work.<br/>
         He asks what she needs, and she says to pick up a gallon of milk, and if they have eggs, get a	dozen.<br/>
         When he returns home, his wife asks why he brought home 12 gallons of milk, and he responded that they did indeed have eggs.
    </p><br/>
  </div>