<div class="login-container">
  <h2>Login</h2>
  <form (ngSubmit)="onSubmit()">
    <!-- Username Field -->
    <div class="input-container">
      <label for="username">Username:</label>
      <input class="input-field" type="text" id="username" [(ngModel)]="username" name="username" required>
      <!-- Error Message for Username -->
      <div *ngIf="usernameError" class="error">{{ usernameError }}</div>
    </div>

    <!-- Password Field -->
    <div class="input-container">
      <label for="password">Password:</label>
      <input class="input-field" id="password" type="password" [(ngModel)]="password" name="password" required>
      <!-- Error Message for Password -->
      <div *ngIf="passwordError" class="error">{{ passwordError }}</div>
    </div>

    <!-- General Error Message -->
    <div *ngIf="generalError" class="error">{{ generalError }}</div>

    <!-- Submit Button -->
    <div>
      <button class="loginButton" type="submit">Login</button>
    </div>

    <!-- Link to Create User Page -->
    <div>
      <a class="btn btn-primary mb-3" routerLink="/adminpage/create-user">New User</a>
    </div>
  </form>
</div>
