<div class="firstpage-container">
  <div class="form-container">
    <h1 class="form-header">Create Order</h1>

    <form (ngSubmit)="createOrder()">

      <!-- cid Field -->
      <div class="form-group">
        <label for="uid">uid</label>
        <input id="uid" class="form-control" [(ngModel)]="order.uid" name="uid" required />
        <span *ngIf="orderuidError" class="text-danger">{{ orderuidError }}</span>
      </div>

      <!-- Buttons -->
      <div class="button-group">
        <button type="submit" class="btn btn-primary">Create</button>
        <a class="btn btn-outline-primary" routerLink="/firstpage">Cancel</a>
      </div>
    </form>

    <!-- Success Message -->
    <div *ngIf="successMessage" class="alert alert-success">
      {{ successMessage }}
    </div>

    <!-- Error Message -->
    <div *ngIf="errorMessage">
      <div class="error">{{ errorMessage }}</div>
    </div>
  </div>
</div>