body {
margin: 0;
}

@media screen and (max-width: 600px) {
body {
    margin: 0; /* Remove default margin */
    padding-left: 200px; /* Add space on the left side to account for the navbar width */
  }
}